/.vs/FilesCopier/FileContentIndex/608a62c0-d7e1-49e2-9821-fb817f2f5850.vsidx
/.vs/FilesCopier/FileContentIndex/c1b50529-0a45-46fd-abaa-1641a00ad50f.vsidx
/.vs/FilesCopier/v17/.suo
/.vs/FilesCopier/v17/DocumentLayout.json
/.vs/FilesCopier/v17/TestStore/0/000.testlog
/.vs/FilesCopier/v17/TestStore/0/testlog.manifest
/FilesCopier/bin/Debug/net8.0/FilesCopier.deps.json
/FilesCopier/bin/Debug/net8.0/FilesCopier.dll
/FilesCopier/bin/Debug/net8.0/FilesCopier.exe
/FilesCopier/bin/Debug/net8.0/FilesCopier.pdb
/FilesCopier/bin/Debug/net8.0/FilesCopier.runtimeconfig.json
/FilesCopier/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/FilesCopier/obj/Debug/net8.0/apphost.exe
/FilesCopier/obj/Debug/net8.0/FilesCopier.AssemblyInfo.cs
/FilesCopier/obj/Debug/net8.0/FilesCopier.AssemblyInfoInputs.cache
/FilesCopier/obj/Debug/net8.0/FilesCopier.assets.cache
/FilesCopier/obj/Debug/net8.0/FilesCopier.csproj.BuildWithSkipAnalyzers
/FilesCopier/obj/Debug/net8.0/FilesCopier.csproj.CoreCompileInputs.cache
/FilesCopier/obj/Debug/net8.0/FilesCopier.csproj.FileListAbsolute.txt
/FilesCopier/obj/Debug/net8.0/FilesCopier.dll
/FilesCopier/obj/Debug/net8.0/FilesCopier.GeneratedMSBuildEditorConfig.editorconfig
/FilesCopier/obj/Debug/net8.0/FilesCopier.genruntimeconfig.cache
/FilesCopier/obj/Debug/net8.0/FilesCopier.GlobalUsings.g.cs
/FilesCopier/obj/Debug/net8.0/FilesCopier.pdb
/FilesCopier/obj/Debug/net8.0/ref/FilesCopier.dll
/FilesCopier/obj/Debug/net8.0/refint/FilesCopier.dll
/FilesCopier/obj/FilesCopier.csproj.nuget.dgspec.json
/FilesCopier/obj/FilesCopier.csproj.nuget.g.props
/FilesCopier/obj/FilesCopier.csproj.nuget.g.targets
/FilesCopier/obj/project.assets.json
/FilesCopier/obj/project.nuget.cache
/.vs/FilesCopier/FileContentIndex/6e047a98-e810-4937-bc8f-621d8e70ec65.vsidx
/.vs/FilesCopier/DesignTimeBuild/.dtbcache.v2
/.vs/FilesCopier/FileContentIndex/1b5079f9-85b2-49a4-94df-207b8f2651da.vsidx
/FilesCopier/obj/Debug/net8.0/FilesCopier.sourcelink.json
/.vs/FilesCopier/FileContentIndex/20e502ab-e7a3-4c3f-bdc5-4e1ad73d0efd.vsidx
/.vs/FilesCopier/FileContentIndex/5035cb0c-7031-40d7-a4aa-9eabda5057e9.vsidx
/.vs/FilesCopier/v17/.futdcache.v2
/.vs/ProjectEvaluation/filescopier.metadata.v8.bin
/.vs/ProjectEvaluation/filescopier.projects.v8.bin
/.vs/ProjectEvaluation/filescopier.strings.v8.bin
