/.vs/FilesCopier/FileContentIndex/608a62c0-d7e1-49e2-9821-fb817f2f5850.vsidx
/.vs/FilesCopier/FileContentIndex/c1b50529-0a45-46fd-abaa-1641a00ad50f.vsidx
/.vs/FilesCopier/v17/.suo
/.vs/FilesCopier/v17/DocumentLayout.json
/.vs/FilesCopier/v17/TestStore/0/000.testlog
/.vs/FilesCopier/v17/TestStore/0/testlog.manifest
/FilesCopier/bin/Debug/net8.0/FilesCopier.deps.json
/FilesCopier/bin/Debug/net8.0/FilesCopier.dll
/FilesCopier/bin/Debug/net8.0/FilesCopier.exe
/FilesCopier/bin/Debug/net8.0/FilesCopier.pdb
/FilesCopier/bin/Debug/net8.0/FilesCopier.runtimeconfig.json
/FilesCopier/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/FilesCopier/obj/Debug/net8.0/apphost.exe
/FilesCopier/obj/Debug/net8.0/FilesCopier.AssemblyInfo.cs
/FilesCopier/obj/Debug/net8.0/FilesCopier.AssemblyInfoInputs.cache
/FilesCopier/obj/Debug/net8.0/FilesCopier.assets.cache
/FilesCopier/obj/Debug/net8.0/FilesCopier.csproj.BuildWithSkipAnalyzers
/FilesCopier/obj/Debug/net8.0/FilesCopier.csproj.CoreCompileInputs.cache
/FilesCopier/obj/Debug/net8.0/FilesCopier.csproj.FileListAbsolute.txt
/FilesCopier/obj/Debug/net8.0/FilesCopier.dll
/FilesCopier/obj/Debug/net8.0/FilesCopier.GeneratedMSBuildEditorConfig.editorconfig
/FilesCopier/obj/Debug/net8.0/FilesCopier.genruntimeconfig.cache
/FilesCopier/obj/Debug/net8.0/FilesCopier.GlobalUsings.g.cs
/FilesCopier/obj/Debug/net8.0/FilesCopier.pdb
/FilesCopier/obj/Debug/net8.0/ref/FilesCopier.dll
/FilesCopier/obj/Debug/net8.0/refint/FilesCopier.dll
/FilesCopier/obj/FilesCopier.csproj.nuget.dgspec.json
/FilesCopier/obj/FilesCopier.csproj.nuget.g.props
/FilesCopier/obj/FilesCopier.csproj.nuget.g.targets
/FilesCopier/obj/project.assets.json
/FilesCopier/obj/project.nuget.cache
